<section
  class="h-full max-h-[800px] p-5 bg-white border-1 border-slate-700 rounded-md drop-shadow-lg md:w-[350px]"
>
  <div class="flex gap-3">
    <img
      src="editor.svg"
      alt="editor-icon"
      class="relative w-[35px] top-[-5px] md:top-[-6px]"
    />
    <div>
      <p class="text-xl text-slate-700 font-bold">Editor de post</p>
      <p class="text-sm text-slate-700">
        Fecha de publicación: {{ date.toDateString() }}
      </p>
    </div>
  </div>
  <div class="my-6">
    <form #postForm="ngForm" (ngSubmit)="handlePostCreation(postForm)">
      <label for="title" class="block text-xl text-slate-700 font-bold"
        >Título:</label
      >
      <input
        type="text"
        id="title"
        name="title"
        [placeholder]="placeholders.title"
        required
        class="w-full p-4 my-2 rounded-lg border border-slate-700 bg-slate-200"
        ngModel
        #titleInput="ngModel"
      />
      @if (titleInput.touched && !titleInput.valid) {
      <p class="my-2 text-red-500">El título es obligatorio.</p>
      }
      <label for="body" class="block text-xl text-slate-700 font-bold"
        >Cuerpo:</label
      >

      <textarea
        type="textarea"
        id="body"
        name="body"
        [placeholder]="placeholders.body"
        class="w-full h-[200px] p-4 my-2 rounded-lg border border-slate-700 bg-slate-200"
        required
        ngModel
        #textArea="ngModel"
      ></textarea>
      @if (textArea.touched && !textArea.valid) {
      <p class="my-2 text-red-500">Este campo es obligatorio.</p>
      }

      <label
        for="title"
        class="block text-xl text-slate-700 font-bold"
        [hidden]="imageToggle"
        >Imagen:</label
      >
      <input
        type="text"
        id="image"
        name="image"
        [placeholder]="placeholders.image"
        [hidden]="imageToggle"
        class="w-full p-4 my-2 rounded-lg border border-slate-700 bg-slate-200"
        ngModel
        pattern="https:\/\/.*\.(?:png|jpg|jpeg)(\?.*)?$"
        #imageInput="ngModel"
      />
      @if (imageInput.touched && !imageInput.valid) {
      <p class="my-2 text-red-500">
        Debes rellenar este campo con un enlace váido
        ("https:\/\/.*\.(?:png|jpg|jpeg)").
      </p>
      }

      <div>
        <img
          src="image-icon.svg"
          alt="delete icon"
          class="inline w-[30px] hover:cursor-pointer"
          (click)="toggleImageField()"
        />
        @if (textArea.value) {
        <img
          src="delete-icon.svg"
          alt="delete icon"
          class="inline w-[25px] ml-4 hover:cursor-pointer"
          (click)="toggleDeleteModal()"
        />
        <p class="my-2">{{ textArea.value.length }} caracteres escritos</p>
        }
      </div>

      <button
        type="submit"
        class="my-6 p-4 text-white rounded-lg bg-slate-400"
        [ngClass]="{ 'hover:cursor-pointer bg-slate-700': postForm.valid }"
        [disabled]="!postForm.valid"
      >
        Publicar
      </button>
    </form>
  </div>
</section>

@if (!deleteModalToggle) {
<div
  class="fixed inset-0 flex items-center justify-center bg-black/40 p-4 z-10"
>
  <div
    class="p-5 bg-white border border-slate-700 rounded-md drop-shadow-lg z-10 max-w-md w-full"
  >
    <p class="text-xl text-slate-700 font-bold">¿Quieres descartar el post?</p>
    <p class="text-slate-600">Los cambios se perderán</p>
    <div class="flex gap-3 mt-5">
      <button
        class="flex-1 py-3 bg-slate-100 rounded-lg hover:bg-slate-200 hover:cursor-pointer"
        (click)="toggleDeleteModal()"
      >
        Cancelar
      </button>
      <button
        class="flex-1 py-3 bg-red-600 text-white rounded-lg hover:bg-red-700 hover:cursor-pointer"
        (click)="resetForm(postForm)"
      >
        Descartar
      </button>
    </div>
  </div>
</div>
}
