<section
  class="p-5 bg-white border-1 border-slate-700 rounded-md drop-shadow-lg md:w-[350px]"
>
  <div class="flex gap-3">
    <img
      src="editor.svg"
      alt="editor-icon"
      class="relative w-[35px] top-[-5px] md:top-[-15px]"
    />
    <div>
      <p class="text-xl text-slate-700 font-bold">Editor de post</p>
      <p class="text-slate-700">
        Fecha de publicación: {{ date.toDateString() }}
      </p>
    </div>
  </div>
  <div>
    <form action="">Form</form>
  </div>
</section>
