@let currentPost = post();

<article
  class="mb-5 flex flex-col-reverse gap-5 md:flex-row md:gap-15 md:justify-between border-1 border-white border-b-slate-700"
>
  <div class="mb-4 flex-1">
    <h3 class="mb-1 text-xl text-slate-700 font-bold">
      {{ currentPost?.title }}
    </h3>
    <p class="mb-4 text-slate-500">
      {{ currentPost?.publishedAt | date : "mediumDate" }}
    </p>

    @if (isExpanded()) {
    <p>
      {{ currentPost?.body }}
      <span
        (click)="toggleIsExpanded()"
        class="font-bold cursor-pointer text-slate-700 hover:underline"
        >Ver menos</span
      >
    </p>
    } @else {
    <p>
      @let blogSliced = currentPost?.body?.slice(0, 200);
      {{ blogSliced }}
      @if (blogSliced && blogSliced.length > 50) {
      <span
        (click)="toggleIsExpanded()"
        class="font-bold cursor-pointer text-slate-700 hover:underline"
        >...Ver más</span
      >
      }
    </p>

    }
  </div>
  <div class="mb-4">
    <img
      [src]="currentPost?.imageURL ? currentPost?.imageURL : 'angular-logo.png'"
      alt="logo"
      loading="eager"
      class="mb-4 w-[300px]"
    />
  </div>
</article>
